<div class="container">
  <h1 class='justify-content-center align-items-center'>Booking</h1>
  <table class = "table table-striped">
    <thead> 
    <tr>
      <th scope="col">Schedule</th>
      <% business_days.each do |day| %>
        <th scope="col"><%= day %></th>  
      <% end %>
    </tr>
    </thead>

    <tbody>
      <% (6..23).to_a.each do |hour| %>
        <tr>
          <th scope="row"><%= "#{hour}:00" %></th>
          <% business_days.each do |day| %>          
            <td scope="row">
              <a href="#" class="" data-toggle="modal" data-target="#exampleModal" data-date="<%= day %>" data-time="<%= hour %>">Disponível</a>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>